{% extends 'user_main.html.twig' %}

{% block admin_user_main_form %}
    {% if sSaveError %}
        <tr>
            <td></td>
            <td class="errorbox">{{ translate({ ident: sSaveError }) }}</td>
        </tr>
    {% endif %}
    <tr>
        <td class="edittext" width="90">
            {{ translate({ ident: "GENERAL_ACTIVE" }) }}
        </td>
        <td class="edittext">
            <input class="edittext" type="checkbox" name="editval[oxuser__oxactive]" value='1' {% if edit.oxuser__oxactive.value == 1 %}checked{% endif %} {{ readonly }}>
            {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_GENERAL_ACTIVE"), 'sHelpText': help_text("HELP_GENERAL_ACTIVE")} %}
        </td>
    </tr>
    <tr>
        <td class="edittext">
            {{ translate({ ident: "USER_MAIN_RIGHTS" }) }}
        </td>
        <td class="edittext">
            <select name="editval[oxuser__oxrights]" class="editinput" {{ readonly }}>
                {% for shopitem in rights %}
                    <option value="{{ shopitem.id }}" {% if shopitem.selected %}SELECTED{% endif %}>{{ shopitem.name }}</option>
                {% endfor %}
            </select>
            {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_USER_MAIN_RIGHTS"), 'sHelpText': help_text("HELP_USER_MAIN_RIGHTS")} %}
        </td>
    </tr>
    <tr>
        <td class="edittext">
            {{ translate({ ident: "USER_MAIN_EMAILLOGIN" }) }}
        </td>
        <td class="edittext">
            <input type="text" class="editinput" size="25" maxlength="{{ edit.oxuser__oxusername.fldmax_length }}" name="editval[oxuser__oxusername]" value="{{ edit.oxuser__oxusername.value }}" {{ readonly }}>
            {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_USER_MAIN_EMAILLOGIN"), 'sHelpText': help_text("HELP_USER_MAIN_EMAILLOGIN")} %}
        </td>
    </tr>

    <tr>
        <td class="edittext">
            {{ translate({ ident: "USER_MAIN_CUSTOMERSNR" }) }}
        </td>
        <td class="edittext">
            <input type="text" class="editinput" size="15" maxlength="{{ edit.oxuser__oxcustnr.fldmax_length }}" name="editval[oxuser__oxcustnr]" value="{{ edit.oxuser__oxcustnr.value }}" {{ readonly }}>
            {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_USER_MAIN_CUSTOMERSNR"), 'sHelpText': help_text("HELP_USER_MAIN_CUSTOMERSNR")} %}
        </td>
    </tr>
    <tr>
        <td class="edittext">
            {{ translate({ ident: "GENERAL_BILLSAL" }) }}
        </td>
        <td class="edittext">
            <select name="editval[oxuser__oxsal]" class="editinput" {{  readonly  }}>
            <option value="MR"  {% if edit.oxuser__oxsal.value|lower  == "mr" %}SELECTED{% endif %}>{{ translate({ ident: "MR" }) }}</option>
            <option value="MRS" {% if edit.oxuser__oxsal.value|lower  == "mrs" %}SELECTED{% endif %}>{{ translate({ ident: "MRS" }) }}</option>
            </select>
            {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_GENERAL_BILLSAL"), 'sHelpText': help_text("HELP_GENERAL_BILLSAL")} %}
        </td>
    </tr>
    <tr>
        <td class="edittext">
            {{ translate({ ident: "USER_MAIN_NAME" }) }}
        </td>
        <td class="edittext">
            <input type="text" class="editinput" size="10" maxlength="{{ edit.oxuser__oxfname.fldmax_length }}" name="editval[oxuser__oxfname]" value="{{ edit.oxuser__oxfname.value }}" {{ readonly }}>
            <input type="text" class="editinput" size="20" maxlength="{{ edit.oxuser__oxlname.fldmax_length }}" name="editval[oxuser__oxlname]" value="{{ edit.oxuser__oxlname.value }}" {{ readonly }}>
            {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_USER_MAIN_NAME"), 'sHelpText': help_text("HELP_USER_MAIN_NAME")} %}
        </td>
    </tr>
    <tr>
        <td class="edittext">
            {{ translate({ ident: "GENERAL_COMPANY" }) }}
        </td>
        <td class="edittext">
            <input type="text" class="editinput" size="37" maxlength="{{ edit.oxuser__oxcompany.fldmax_length }}" name="editval[oxuser__oxcompany]" value="{{ edit.oxuser__oxcompany.value }}" {{ readonly }}>
            {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_GENERAL_COMPANY"), 'sHelpText': help_text("HELP_GENERAL_COMPANY")} %}
        </td>
    </tr>
    <tr>
        <td class="edittext">
            {{ translate({ ident: "USER_MAIN_STRNR" }) }}
        </td>
        <td class="edittext">
            <input type="text" class="editinput" size="28" maxlength="{{ edit.oxuser__oxstreet.fldmax_length }}" name="editval[oxuser__oxstreet]" value="{{ edit.oxuser__oxstreet.value }}" {{ readonly }}> <input type="text" class="editinput" size="5" maxlength="{{ edit.oxuser__oxstreetnr.fldmax_length }}" name="editval[oxuser__oxstreetnr]" value="{{ edit.oxuser__oxstreetnr.value }}" {{ readonly }}>
            {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_USER_MAIN_STRNR"), 'sHelpText': help_text("HELP_USER_MAIN_STRNR")} %}
        </td>
    </tr>
    <tr>
        <td class="edittext">
            {{ translate({ ident: "GENERAL_ZIPCITY" }) }}
        </td>
        <td class="edittext">
            <input type="text" class="editinput" size="5" maxlength="{{ edit.oxuser__oxzip.fldmax_length }}" name="editval[oxuser__oxzip]" value="{{ edit.oxuser__oxzip.value }}" {{ readonly }}>
            <input type="text" class="editinput" size="25" maxlength="{{ edit.oxuser__oxcity.fldmax_length }}" name="editval[oxuser__oxcity]" value="{{ edit.oxuser__oxcity.value }}" {{ readonly }}>
            {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_GENERAL_ZIPCITY"), 'sHelpText': help_text("HELP_GENERAL_ZIPCITY")} %}
        </td>
    </tr>
    <tr>
        <td class="edittext">
            {{ translate({ ident: "GENERAL_USTID" }) }}
        </td>
        <td class="edittext">
            <input type="text" class="editinput" size="15" maxlength="{{ edit.oxuser__oxustid.fldmax_length }}" name="editval[oxuser__oxustid]" value="{{ edit.oxuser__oxustid.value }}" {{ readonly }}>
            {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_GENERAL_USTID"), 'sHelpText': help_text("HELP_GENERAL_USTID")} %}
        </td>
    </tr>
    {% if edit.oxuser__oevattbe_vatinenterdate.value and edit.oxuser__oevattbe_vatinenterdate.value != '0000-00-00 00:00:00' and edit.oxuser__oxustid.value %}
        <tr>
            <td class="edittext">
                {{ translate({ ident: "OEVATTBE_VAT_IN_STORE_DATE" }) }}
            </td>
            <td class="edittext">
                {{ edit.oxuser__oevattbe_vatinenterdate.value }} {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_OEVATTBE_VAT_IN_STORE_DATE"), 'sHelpText': help_text("HELP_OEVATTBE_VAT_IN_STORE_DATE")} %}
            </td>
        </tr>
    {% endif %}

    <tr>
        <td class="edittext">
            {{ translate({ ident: "GENERAL_EXTRAINFO" }) }}
        </td>
        <td class="edittext">
            <input type="text" class="editinput" size="37" maxlength="{{ edit.oxuser__oxaddinfo.fldmax_length }}" name="editval[oxuser__oxaddinfo]" value="{{ edit.oxuser__oxaddinfo.value }}" {{ readonly }}>
            {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_GENERAL_EXTRAINFO"), 'sHelpText': help_text("HELP_GENERAL_EXTRAINFO")} %}
        </td>
    </tr>
    <tr>
        <td class="edittext">
            {{ translate({ ident: "GENERAL_STATE" }) }}
        </td>
        <td class="edittext">
            <input type="text" class="editinput" size="15" maxlength="{{ edit.oxuser__oxstateid.fldmax_length }}" name="editval[oxuser__oxstateid]" value="{{ edit.oxuser__oxstateid.value }}" {{ readonly }}>
            {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_GENERAL_STATE"), 'sHelpText': help_text("HELP_GENERAL_STATE")} %}
        </td>
    </tr>
    <tr>
        <td class="edittext">
            {{ translate({ ident: "GENERAL_COUNTRY" }) }}
        </td>
        <td class="edittext">
            <select class="editinput" name="editval[oxuser__oxcountryid]" {{ readonly }}>
                {% for oCountry in countrylist %}
                    <option value="{{ oCountry.oxcountry__oxid.value }}" {% if oCountry.oxcountry__oxid.value == edit.oxuser__oxcountryid.value %}selected{% endif %}>{{ oCountry.oxcountry__oxtitle.value }}</option>
                {% endfor %}
            </select>
            {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_GENERAL_COUNTRY"), 'sHelpText': help_text("HELP_GENERAL_COUNTRY")} %}
        </td>
    </tr>
    <tr>
        <td class="edittext">
            {{ translate({ ident: "GENERAL_TELEPHONE" }) }}
        </td>
        <td class="edittext">
            <input type="text" class="editinput" size="20" maxlength="{{ edit.oxuser__oxfon.fldmax_length }}" name="editval[oxuser__oxfon]" value="{{ edit.oxuser__oxfon.value }}" {{ readonly }}>
            {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_GENERAL_TELEPHONE"), 'sHelpText': help_text("HELP_GENERAL_TELEPHONE")} %}
        </td>
    </tr>
    <tr>
        <td class="edittext">
            {{ translate({ ident: "GENERAL_FAX" }) }}
        </td>
        <td class="edittext">
            <input type="text" class="editinput" size="20" maxlength="{{ edit.oxuser__oxfax.fldmax_length }}" name="editval[oxuser__oxfax]" value="{{ edit.oxuser__oxfax.value }}" {{ readonly }}>
            {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_GENERAL_FAX"), 'sHelpText': help_text("HELP_GENERAL_FAX")} %}
        </td>
    </tr>
    <tr>
        <td class="edittext">
            {{ translate({ ident: "GENERAL_BIRTHDATE" }) }}
        </td>
        <td class="edittext">
            <input type="text" class="editinput" size="3" maxlength="2" name="editval[oxuser__oxbirthdate][day]" value="{{ edit.oxuser__oxbirthdate.value|regex_replace("/^([0-9]{4})[-]([0-9]{1,2})[-]/", "") }}" {{ readonly }}>
            <input type="text" class="editinput" size="3" maxlength="2" name="editval[oxuser__oxbirthdate][month]" value="{{ edit.oxuser__oxbirthdate.value|regex_replace("/^([0-9]{4})[-]/", "")|regex_replace("/[-]([0-9]{1,2})$/", "") }}" {{ readonly }}>
            <input type="text" class="editinput" size="8" maxlength="4" name="editval[oxuser__oxbirthdate][year]" value="{{ edit.oxuser__oxbirthdate.value|regex_replace("/[-]([0-9]{1,2})[-]([0-9]{1,2})$/", "") }}" {{ readonly }}>
            {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_GENERAL_BIRTHDATE"), 'sHelpText': help_text("HELP_GENERAL_BIRTHDATE")} %}
        </td>
    </tr>
    {% if oxid != "-1" %}
        <tr>
            <td class="edittext"><br>
                {{ translate({ ident: "USER_MAIN_HASPASSWORD" }) }}
            </td>
            <td class="edittext"><br>
                {% if edit.oxuser__oxpassword.value %}{{ translate({ ident: "GENERAL_YES" }) }}{% else %}{{ translate({ ident: "GENERAL_NO" }) }}{% endif %}
                {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_USER_MAIN_HASPASSWORD"), 'sHelpText': help_text("HELP_USER_MAIN_HASPASSWORD")} %}
            </td>
        </tr>
    {% endif %}
    <tr>
        <td class="edittext"><br>
            {{ translate({ ident: "USER_MAIN_NEWPASSWORD" }) }}
        </td>
        <td class="edittext"><br>
            <input type="password" class="editinput" size="15" name="newPassword" value="" {{  readonly  }}>
            {% include "inputhelp.html.twig" with {'sHelpId': help_id("HELP_USER_MAIN_NEWPASSWORD"), 'sHelpText': help_text("HELP_USER_MAIN_NEWPASSWORD")} %}
        </td>
    </tr>
{% endblock %}