{# Required for admin tabs to work #}
{% include "headitem.html.twig" with {title: "GENERAL_ADMIN_TITLE"|translate} %}
<script type="text/javascript">
    <!--
    window.onload = function ()
    {
        {% if updatelist == 1 %}
        top.oxid.admin.updateList('{{ oxid }}');
        {% endif %}
        var oField = top.oxid.admin.getLockTarget();
        oField.onchange = oField.onkeyup = oField.onmouseout = top.oxid.admin.unlockSave;
    }
    //-->
</script>
<form name="transfer" id="transfer" action="{{  oViewConf.getSelfLink()  }}" method="post">
    {{  oViewConf.getHiddenSid()|raw() }}
    <input type="hidden" name="oxid" value="{{  oxid  }}">
    <input type="hidden" name="oxidCopy" value="{{  oxid  }}">
    <input type="hidden" name="cl" value="country_main">
    <input type="hidden" name="language" value="{{  actlang  }}">
</form>
{# /Required for admin tabs to work #}

<table cellspacing="0" cellpadding="0" border="0" width="50%">
    {% set aVatGroups = oView.getVatGroups() %}
    {% if count(aVatGroups) > 0 %}
    <tr>
        <td valign="top" class="edittext" style="width:50%">
            <form name="countryVATGroupList" id="countryVATGroupList" action="{{ oViewConf.getSelfLink() }}" method="post">
                {{ oViewConf.getHiddenSid()|raw() }}
                <input type="hidden" name="oxid" value="{{ oxid }}">
                <input type="hidden" name="oxidCopy" value="{{ oxid }}">
                <input type="hidden" name="cl" value="oevattbecountryvatgroups">
                <input type="hidden" name="fnc" value="changeCountryVATGroups">
                <input type="hidden" name="language" value="{{ actlang }}">
                <table cellspacing="0" cellpadding="1" border="0" width="98%">
                    {% set oddclass = "2" %}
                    <colgroup>
                        {% block admin_country_list_colgroup %}
                            <col width="1%">
                            <col width="1%">
                            <col width="96%">
                            <col width="1%" >
                        {% endblock %}
                    </colgroup>
                    <tr>
                        <td class="listheader first">{{ translate({ ident: "OEVATTBE_COUNTRY_VAT_GROUP_NAME" }) }}</td>
                        <td class="listheader">{{ translate({ ident: "OEVATTBE_COUNTRY_VAT_GROUP_VALUE" }) }}</td>
                        <td class="listheader">{{ translate({ ident: "OEVATTBE_COUNTRY_VAT_GROUP_DESCRIPTION" }) }}</td>
                        <td class="listheader"></td>
                    </tr>
                    {% for oVatGroup in aVatGroups %}
                        <tr>
                            {% if oddclass == 2 %}
                                {% set oddclass = "" %}
                            {% else %}
                                {% set oddclass = "2" %}
                            {% endif %}
                            <td class="listitem{{ oddclass }}" nowrap="nowrap" valign="top">
                                <input type="text" size="25" name="updateval[{{ oVatGroup.getId() }}][oevattbe_name]" value="{{ oVatGroup.getName() }}" />
                            </td>
                            <td class="listitem{{ oddclass }}" nowrap="nowrap" valign="top">
                                <input type="text" size="5" name="updateval[{{ oVatGroup.getId() }}][oevattbe_rate]" value="{{ oVatGroup.getRate() }}" />
                            </td>
                            <td class="listitem{{ oddclass }}" nowrap="nowrap" valign="top">
                                <textarea class="editinput" cols="28" rows="1" wrap="VIRTUAL" name="updateval[{{ oVatGroup.getId() }}][oevattbe_description]">{{ oVatGroup.getDescription() }}</textarea>
                            </td>
                            <td class=listitem{{ oddclass }}>
                                <input type="hidden" name="updateval[{{ oVatGroup.getId() }}][oevattbe_id]" value="{{ oVatGroup.getId() }}">
                                <a {{ readonly }} href="{{  oViewConf.getSelfLink()|raw  }}&amp;cl=oevattbecountryvatgroups&amp;countryVATGroupId={{ oVatGroup.getId() }}&amp;fnc=deleteCountryVatGroup&amp;oxid={{ oxid }}" onClick='return confirm("{{ translate({ ident: "GENERAL_YOUWANTTODELETE" }) }}")' {% if readonly  %}onclick="JavaScript:return false;"{% endif %} class="delete"></a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4"><br>
                            <input type="submit" class="edittext" name="saveAll" value="{{ translate({ ident: "OEVATTBE_SAVE_BUTTON" }) }}"><br><br>
                        </td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <hr />
        </td>
    </tr>
    {% endif %}
    <tr>
        <td valign="top">
            <form name="addCountryVATGroup" id="addCountryVATGroup" action="{{ oViewConf.getSelfLink() }}" method="post">
                {{ oViewConf.getHiddenSid()|raw() }}
                <input type="hidden" name="oxid" value="{{ oxid }}">
                <input type="hidden" name="oxidCopy" value="{{ oxid }}">
                <input type="hidden" name="cl" value="oevattbecountryvatgroups">
                <input type="hidden" name="fnc" value="addCountryVATGroup">
                <input type="hidden" name="language" value="{{ actlang }}">
                <input type="hidden" name="editval[oxcountry__oxid]" value="{{ oxid }}">
                <fieldset style="padding-left: 5px;" title="new group form">
                    <legend>{{ translate({ ident: "OEVATTBE_CREATE_NEW_COUNTRY_VAT_GROUP_LEGEND" }) }}</legend>
                    <table cellspacing="0" cellpadding="0" border="0" width="50%">
                        <tr>
                            <td class="edittext" valign="top">
                                <table>
                                    <tr>
                                        <td class="edittext">
                                            {{ translate({ ident: "OEVATTBE_COUNTRY_VAT_GROUP_NAME" }) }}
                                        </td>
                                        <td class="edittext">
                                            <input class="edittext" size="25" type="text" name="editval[oevattbe_name]">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="edittext">
                                            {{ translate({ ident: "OEVATTBE_COUNTRY_VAT_GROUP_VALUE" }) }}
                                        </td>
                                        <td class="edittext" nowrap="nowrap">
                                            <input class="edittext" type="text" name="editval[oevattbe_rate]" size="5">
                                            {% include "inputhelp.html.twig" with {'sHelpId': help_id("OEVATTBE_HELP_COUNTRY_VAT_GROUP_VALUE"), 'sHelpText': help_text("OEVATTBE_HELP_COUNTRY_VAT_GROUP_VALUE")} %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="edittext" valign="top">
                                            {{ translate({ ident: "OEVATTBE_COUNTRY_VAT_GROUP_DESCRIPTION" }) }}
                                        </td>
                                        <td class="edittext" nowrap="nowrap">
                                            <textarea class="editinput" cols="28" rows="1" wrap="VIRTUAL" name="editval[oevattbe_description]"></textarea>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td><br>
                                <input type="submit" class="edittext" name="save" value="{{ translate({ ident: "OEVATTBE_SAVE_BUTTON" }) }}"><br><br>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </form>
        </td>
    </tr>
</table>

{# Required for admin tabs to work #}
{% include "bottomnaviitem.html.twig" %}
{% include "bottomitem.html.twig" %}
{# /Required for admin tabs to work #}